.main-task{
    flex-direction: column;
    background-color: white;
    margin: .25em 0;
    width: 70%;
    align-items: flex-start;
}

.top__main-task{
    align-items: center;
    background-color: rgb(184, 245, 247);
    width: 100%;
    justify-content: space-between;
}