.container{
    display: flex;
    align-items: center;
}

.principal{
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}

.main{
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
}